<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>welcome</h3>
    <form action="payment" method="POST">
        <script
         src="//checkout.stripe.com/v2/checkout.js"
         class="stripe-button"
         data-key="<%= key %>"
         data-amount="7000>"
         data-currency="usd"
         data-name="god"
         data-description="pray"
         data-locale="auto"
        ></script>
    </form>
</body>
</html>