* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0F5796;
}

.uploadSection {
    width: 95%;
    background-color: #0a2e6b;
    color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 10px #0a2e6b;
}

.dragFileContainer {
    border: 2px dashed white;
}

.dipalaySection {
    width: 95%;
    height: fit-content;
    background-color: #0a2e6b;
    color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 10px #0a2e6b;
    margin-bottom: 50px;
}

.detailsName {
    width: 12%;
    height: 50px;
    background-color: #3A496C;
}

.detailsName1 {
    width: 12%;
    height: 50px;
}

.table {
    width: 100%;
    color: white;
    border-radius: 10px;
}

.tableRow {
    background-color: #3A496C;
}

::-webkit-scrollbar {
    display: none;
}